name: Auto Sync From Upstream

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨自动执行
  workflow_dispatch:      # 允许你在 Actions 页面手动点运行

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Sync Upstream
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_repository: huangxd-/danmu_api  # 原作者仓库
          target_branch: main                      # 你的分支
          upstream_branch: main                    # 原作者分支
